extends ../layouts/default

block main
  h2= title
  if (typeof count == 'undefined')
    - count = 0;
  p Összesen #{count} edzés került kilistázásra

block content
  each workout in workouts
    .workout
      a.title(href='/workouts/'+workout._id, title=workout.title) #{workout.title}
      p=workout.body
      .author
        span= formatDate(workout.createdAt, "%b %d, %Y at %I:%M %p")
        span &nbsp;| Edzett :&nbsp;
        span= workout.user.name
        | &nbsp;|&nbsp;
        if (workout.tags)
          span.tags
            span Címkék :&nbsp;
            each tag in workout.tags.split(',')
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}

  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
